*.class
.gradle
/build/
/bin/
/.settings/
.project
.classpath

# Package Files
*.jar
*.war
*.ear

# Serverless directories
.serverless

gradle
gradlew.bat
gradlew
hands-on-lambda

package-lock.json
node_modules
lambda-untar/build/
lambda-transcode/build/
lambda-transcode/out
